body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.error {
    border: 1px solid #f00;
    padding: 5px;
    margin: 20px;
    background-color: #ffe3e0;
}

.edit-customerid {
    padding: 7px;
}

th input.findid-box {
    max-width: 100px;
}

th.findid-box {
    max-width: 100px;
}

input.upload-image {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

label.upload-image {
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
}

img.upload-image-img {
    max-height: 500px;
    max-width: 500px;
}

ul.pages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    ul.pages li {
        float: left;
        margin-left: 5px;
        margin-bottom: 5px;
        height: 42px;
        width: 42px;
        text-align: center;
    }

        ul.pages li a {
            display: block;
            color: black;
            text-align: center;
            padding: 10px 0;
            text-decoration: none;
            border: 1px solid gray;
        }

            ul.pages li a.active {
                background-color: gray;
            }

            ul.pages li a:hover {
                background-color: gray;
            }

/* Cake section */
.overflow-hidden {
    overflow: hidden;
}

.cake-button {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: #33cc33;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 9px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

    .cake-button:hover {
        background-color: #00b300;
    }

    .cake-button.active {
        background-color: #009900;
    }

        .cake-button.active:hover {
            background-color: #008000;
        }

img.exists-image-img {
    max-height: 250px;
    max-width: 250px;
}

div#update th {
    text-align: center;
}

input[type=radio]:checked::parent {
    background-color: #0DFF92;
}

/* end Cake section */
